# gcovr configuration file
# Filters for files authored by nvidia.com contributors
# Generated automatically by generate-nvidia-gcovr.sh

filter = src/mctp-control-spec\.h
filter = src/mctpd\.c
filter = src/mctpd-util\.h
filter = src/mctp-log\.h
filter = src/mctp-netlink\.c
filter = src/mctp-netlink\.h
filter = src/mctp-ops\.c
filter = src/mctp-util\.c

html = yes
print-summary = yes
decisions = yes

exclude-throw-branches = yes
exclude-unreachable-branches = yes